<div class="app-container">
  <div class="header-container grid flex flex-row justify-content-between pt-1 pb-2 pr-8 pl-8">
    <div class="logo-container col-3">
      <img src="/assets/images/radar.png" class="logo-img">
      <img src="/assets/images/logo-title.png" class="logo-title-img">
    </div>

    <p-tabMenu class="menu col-8" [model]="menuItems" [activeItem]="activeItem" />

    <p-avatar class="col-1 flex flex-row justify-content-end" icon="pi pi-user" styleClass="mr-2" size="large"
      [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" shape="circle" />
  </div>

  <div class="layout-content-container">
    <router-outlet></router-outlet>
  </div>
</div>